<%= form_with model: @outgo, local: true do |f| %>
  <%= render "users/shared/error_messages", resource: f.object %>
  <div class="form-wrap">
    <div class="form-group">
      <div class='form-label'>
        <label class="form-text", for="date">日づけをせんたくしてね！</label>
      </div>
      <div class='input-date'>
        <%= f.date_field :date, id:"date" %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-label">
        <label class="form-text", for="price">金がくを入力してね！</label>  
      </div>
      <div class="input-price">
        <%= f.text_field :price, class:"items-text", id:"price", placeholder:"0" %>
        <span>円</span>
      </div>  
    </div>

    <div class="form-group">
      <div class='form-label'>
        <label class="form-text", for="text">メモを書いてね！</label>  
      </div>
      <div class="input-text">
        <%= f.text_area :description, id:"text", placeholder:"50文字まで" %>
      </div>
    </div>

    <div class="save-btn-contents">
      <%= f.submit "けってい" ,class:"save-btn" %>
    </div>
  </div>
<% end %>