<%# ヘッダー %>
<%= render 'shared/header' %>
<%# ヘッダーここまで %>

<div class="main">
  <p>貯(た)まったお金</p>
  <%= @total %>
  <p>目標(もくひょう)</p>
  <% if current_user.present? && @goal.present? %>
    <div id="data-id" data_id=<%= @goal.id %>></div>
  <% end %>
  <%= form_with model: @goal, url: goals_path, class:"goal-form", id:"remove", local: true do |f| %>
    <%#= render "users/shared/error_messages", resource: f.object %>
    <%= f.text_field :text, placeholder: '目標(もくひょう)を入力してね！(30文字まで)', class:"input-box" %>
    <%= f.submit "決定(けってい)", id:"btn-label", class:"btn-hidden" %>
  <% end %>
  <%# if current_user.present? && @goal.present? %>
    <%#= @goal.text %>
  <%# end %>
  <div class="menu-contents">
    <%= link_to new_income_path, class:"menu-img-content" do %>
      <%= image_tag("cat-1.png", class:"menu-icon") %>
      <p>ためる</p>
    <% end %>
    <%= link_to new_outgo_path, class:"menu-img-content" do %>
      <%= image_tag("cat-2.png", class:"menu-icon") %>
      <p>ひきだす</p>
    <% end %>
    <% if current_user.present? %>
      <%= link_to top_path(current_user.id), class:"menu-img-content" do %>
        <%= image_tag("cat-3.png", class:"menu-icon") %>
        <p>履歴(りれき)</p>
      <% end %>
    <% end %>
  </div>
</div>
