<%# ヘッダー %>
<%= render 'shared/header' %>
<%# ヘッダーここまで %>

<div class="main">
  <div class="goal-contents">
    <p class="goal-title">目標(もくひょう)</p>
    <div class="goal-text">
      <% if current_user.present? && @goal.present? %>
        <div id="data-id" data_id=<%= @goal.id %>></div>
      <% end %>
      <%= form_with model: @goal, url: goals_path, class:"goal-form", id:"remove", local: true do |f| %>
        <%#= render "users/shared/error_messages", resource: f.object %>
        <%= f.text_field :text, placeholder: '目標(もくひょう)を入力してね！(30文字まで)', class:"input-box", size:"40×1" %>
        <%= f.submit "決定(けってい)", id:"btn-label", class:"btn-hidden" %>
      <% end %>
    </div>
  </div>
  <%# if current_user.present? && @goal.present? %>
    <%#= @goal.text %>
  <%# end %>
  
  <div class="menu-contents">
    <div class="saving">
      <p class="saving-title">たまったお金</p>
      <p class="saving-total"><%= @total %>円</p>
    </div>
    <div class="circle-box">
      <div class="item">
        <%= link_to new_income_path, class:"menu-img-content" do %>
          <%= image_tag("cat-1.png", class:"menu-icon") %>
          <p>ためる</p>
        <% end %>
      </div>
      <div class="item">
        <%= link_to new_outgo_path, class:"menu-img-content" do %>
          <%= image_tag("cat-2.png", class:"menu-icon") %>
          <p>ひきだす</p>
        <% end %>
      </div>
      <div class="item">
        <% if current_user.present? %>
          <%= link_to top_path(current_user.id), class:"menu-img-content" do %>
            <%= image_tag("cats-1.png", class:"menu-icon") %>
            <p>履歴(りれき)</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
